body{
    color:white;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/waterback.jpeg);
    background-size: auto;
    overflow: auto;
}
.gifs{
    height: 200px;
    width:200px;
    margin: 5px;
    display: block;
    margin-bottom:10px;
    position:relative;
}
.gifcontainer{
    float:left;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.box{
    text-align:center;
    border-radius: 50%;
    height: 300px;
    background-image: url(images/greenback.jpg);
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    border: 3px solid rgb(158, 128, 100);
    max-width: 770px;
    box-shadow: 9px 9px 10px 5px rgb(206, 195, 165);
}
#searchTerm{
    max-width: 600px;
    outline: none;
}
#search:hover, #clear:hover{
    border: 1px solid tan;
}
#search:active, #clear:active{
    outline:none;
}
.form-group{
    position: absolute;
    top: 100%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
.buttons{
    color: white;
    background-image: url(images/dirtback3.png);
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 15%;
}
.buttons:hover{
    border: 1px solid tan;
}
.ratings{
    overflow-x: hidden;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color:black;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:230px;
    width:700px;
    margin-bottom: 10px;
}
.btn{
    padding:2px;
    vertical-align: middle;
    height:30px;
    border: 1px solid black;
    background-image: url(images/dirtback3.png);
}
.download{
    border-radius: 50%;
    border: 1.5px solid black;
    font-size: 14px;
    font-weight: 700;
    background-image: url(images/greenback.jpg);
    margin-right:25px;
    color: black;

}
/* .favorite{
    border-radius: 50%;
    border: 1.5px solid black;
    font-size: 14px;
    font-weight: 700;
    background-image: url(images/greenback.jpg);
    color: black;

} */
.buttonList{
    position: absolute;
    top: 10%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    margin-top:25px;;
   
}
@media only screen and (max-width: 1201px){
    .form-group{
        position: absolute;
        top: 90%;
        left: 50%;
        height: 30%;
        width: 50%;
        margin: -15% 0 0 -25%;
    }
}
@media only screen and (max-width: 1201px){
    .buttonList{
        position: absolute;
    top: 8%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    margin-top:25px;;
    }
    .form-group{
        position: absolute;
        top: 90%;
        left: 50%;
        height: 30%;
        width: 50%;
        margin: -15% 0 0 -25%;
    }
}
@media only screen and (max-width: 993px){
    .favoritesbar{
        width:288px!important;
    }
}
@media only screen and (max-width: 862px){
    .gifs{
        height: 150px!important;
        width: 150px!important;
    }
}
@media only screen and (max-width: 768px){
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 51.666667%;
    }
    .form-group{
        top:73%!important;
    }
    .favoritesbar {
        width: 200px!important;
    }
    .faves {
        width: 200px;
    }
    #favebox{
        width: 48%!important;
    }
.buttonList{
    position: absolute;
top: 5%;
left: 50%;
height: 30%;
width: 300px;
margin: -15% 0 0 -25%;
vertical-align: middle;
margin-top:25px;;
}
.favoritegifs{
    background-size: 800px 760px;
}
.form-group{
    position: absolute;
    top: 85%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
body{
    overflow-x: hidden;
    width: 768px;
    background-size: 800px 760px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:230px;
    width:auto;
    margin-bottom: 10px;
}
.gifs{
    height:150px;
    width: 150px;
}

}
@media only screen and (max-width: 575px){
.buttonList{
    position: absolute;
top: 5%;
left: 50%;
height: 30%;
width: 50%;
margin: -15% 0 0 -25%;
vertical-align: middle;
margin-top:25px;;
}
.form-group{
    position: absolute;
    top: 80%!important;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:230px;
    width:auto;
    margin-bottom: 10px;
}
.box{
    width: 476px;
    margin-left: 0px;
}
.buttonList{
    margin: 3% 0 0 -43%;
}
.form-group{
    margin: -15% 0 0 -42%;
}
.logo{
    margin-left: -10px;

}
.result{
    width: 570px;
}
.gifs{
    margin-right: 30px;
}
}
.fa-star{
    position: relative;
    top: 35px;
    left: 15px;
    z-index: 1;
    color:gold
}
.favoritesbar{
    color: white;
    font-weight: 700;
    background-image: url(images/greenback.jpg);
    width: 100%;
    text-align:center;
    border: 1px solid silver;
    height:auto;
    padding-bottom: 5px;
}
.faves{
    margin-top:20px;
}
.hide{
    display: none;
}
.favoritegifs{
    background-image: url(images/waterback.jpeg);
    width: 95%;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;

}
@media only screen and (max-width: 510px){
    .box{
        padding-left: 5px;
        width:418px;
    }
    #searchTerm{
        width: 320px;
    }
    .buttonList{
        width: 44%;
    }
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 23.666667%;
    }
    #search{
        margin-left: -50px;
    }
    label{
        margin-left:-50px;
    }
    .logo{
        margin-left: -60px;
    }
    .container{
        padding-left:3px;
    }
    .fa-star{
        left:37px;
    }
    .favoritesbar{
        height:auto;
    }
}
